@model EntityLayer.Concrete.Category
@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2 class="text-center">Yeni Kategori Grişi</h2>
@using (Html.BeginForm("AddCategory", "Category", FormMethod.Post))
{
    @Html.Label("Kategori Adı")
    @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryName)
    <br />

    @Html.Label("Kategori Açıklması")
    @Html.TextAreaFor(x => x.CategoryDescription, 15, 3, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryDescription)

    <button class="btn btn-primary mt-3">Kaydet</button>
}

